@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-inverse .navbar-brand {
  color: #7C08AC;
  font-family: 'deutsch_gothicnormal', serif;
  font-size: 32px;
}

.navbar {
  border-radius:0;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  box-shadow: 0px 1px 3px #2a2a2a;
  background: url('zwartevilt.jpg');
}